@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.app--main {
  min-height: 100vh;
  background-image: url("./assets/weather-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
